.footer-row {
  display: flex;
  flex-direction: row;
}
.school {
  background: url("../assets/img/rs_school_js.svg") no-repeat center center;
  background-size: contain;
  width: 100px;
  height: 50px;
}